@charset "UTF-8";
h1,h2,h3,h4,h5,h6,span,p,a,.btn,input,select,textarea,div{ font-weight: normal; font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu ;}
ul,li{list-style: none;margin:0;padding:0;}
.common_body{ background-color: #eff3f6;}
.clearMargin{ margin: 0;}
.clearPadding{ padding: 0;}
/*背景颜色*/
.bodybg{background:#f7f7f7;}
.bodybg2{background: #e9e9e9;}
.bgbody{background: #eeeff3;}	
.bg-white{background: #fff;}
.bg-red{background:#e3393a;}
.bgf1{background:#F1F2F4;}
.bgea{background:#EA6846;}
.bgf36{background:#ff3366;}
.bgf7{background:#f7f7f7;}
.bg-dining{background:#aec95f;}
.bg-yellow{background:#ffd300;}
/*边框样式*/
.bordernone{border:none;}
.bordertop{border-top: 1px solid #e8e9eb;}
.borderbottom{border-bottom: 1px solid #e8e9eb;}
.borderright{border-right: 1px solid #e8e9eb;}
.bordertb{border-top:1px solid #e8e9eb;border-bottom:1px solid #e8e9eb;}
.borderb{border-bottom:1px solid #e8e9eb;}
.borderb2-white{border-bottom:2px solid #fff;}
.borderl2{border-left:3px solid #ff7d7c;}
.borderb2{border-bottom:2px solid #ff7d7c;}
/*字体颜色*/
.text-red{color:#df493b;}
.text-white{color:#fff;}
.text-f36{color:#ff3366;}
.text-dining{color:#aec95f;}
.text-grey{color:#ccc;}
/*字体大小*/
.font10{font-size:10px;}
.font12{font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}
.font15{font-size:15px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.font20{font-size:20px;}
.font24{font-size:24px;}
.font42{font-size:42px;}
.font2m{font-size:2em;}
/*内外边距*/
.pb8{padding-bottom:8px;}
.pr5{padding-right: 5px;}
.pt7{padding-top: 7px;}
.pt10{padding-top: 10px;}
.ptb5{padding-top:5px;padding-bottom:5px;}
.ptb10{padding-top: 10px;padding-bottom: 10px;}
.pl0{padding-left: 0;}
.plr10{padding-left: 10px;padding-right: 10px;}
.plr15{padding-left: 15px;padding-right: 15px;}
.plr25{padding-left: 25px;padding-right: 25px;}
.mb10{margin-bottom: 10px;}
.mt0{margin-top: 0;}
.m30{margin: 30px;}
.mlr3{margin-right: 3px;margin-left: 3px;}
.mlr10{margin-right:10px;margin-left:10px;}
.-mr5{margin-right:-5px;}
.bottoms{width:100%;z-index:999;position: fixed;bottom:0;}
.w100{width:100%;}
/*订餐系统首页*/
.sortlist{}
.sortlist >li{border-bottom: 1px solid #fff;text-align: left;padding-left: 10px;}
.sortlist li h4{font-size: 14px;padding: 15px 0;margin: 0;}
.sortlist li .slchild{padding-left: 15px;}
.sortlist{/*position: fixed;bottom:0px;*/background: #f1f1f1;/*top:43px;width:25%;*/}
.active{background:#fff;border-left:3px solid #ff7d7c;color:#ff7d7c;}
.opmbox{height:25px;position:absolute;bottom:5px;right:5px;}
.oplusbox{width: 25px;height: 25px;text-align:center;border-radius: 50%;background: #fff;}
.onum{width:20px;height:35px;line-height:25px;border:none;text-align: center;}
.obto{background:#fff;}
.ocart{width: 50px;height: 50px;line-height:50px;border-radius:50%;text-align:center;background:#ff7d7c;position: absolute; }
.ocart span{font-size: 30px;vertical-align: middle;}
.ptb15lr20{padding:15px 20px;}
.pt5{padding-top:5px;}
.pt15{padding-top:15px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom: 10px;}
.mt2{margin-top:2px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mb50{margin-bottom:50px;}
.pl15{padding-left:15px;}
.pt18{padding-top:18px;}
.allnum{width:20px;height:20px;border-radius: 50%;background: red;color:#fff;position: absolute;font-size:12px;right:10px;text-align: center;padding:2px;line-height:16px;}
/*商品详情页 productDetail.html*/
#detail p{margin: 1px 0 0 0;font-size: 0;}
#detail p img{display:block;vertical-align:bottom;}
.font30{font-size:30px;}.padding3{padding: 3px;}
.bordernone{border:none;}.Padding18{padding:18px;}.pb30{padding-bottom:30px;}.mt38{margin-top:38px;}
.textgrey{color:#767676;}/*商品描述字体颜色*/
.bgy{background: #ff9000;}/*加入购物车黄色按钮*/
.bgp{background: #ff286c;}/*立即购买玫红色按钮*/
.bgj{background:#fc3977;}/*价格库存玫红色背景颜色*/
.bgd{background:#a082fa;}/*倒计时紫色背景颜色*/
.bgds{background:#5b32d9;}/*倒计时数字深紫色背景颜色*/
.bgewm{background:#ffab3d;}/*生成二维码按钮颜色*/
.mt5{margin-top:5px;}
.mb2{margin-bottom:2px;}
.pt2{padding-top:2px;}
.pt18{padding-top:18px;}
.bordert{border-top:1px solid #e8e9eb;}
.prod_b{background:#fbfbfb;padding:0;}
.prod_b .prod_icon{width:20px;height:20px;}
.btn_buy{color:#fff;text-align: center;font-size: 16px;padding:10px 0;}
.day,.hours,.minutes,.seconds{padding:3px 2px;background:#5b32d9;border-radius: 2px;font-size:12px;}
.count{border:none;background-color:#fff;}
.bgf5{background:#f5f5f5;}
.prod_tab .tabnav span{padding-bottom:8px;font-size:16px;}
.tabactive{border-bottom:3px solid #ffab3d;}
.tabcontent .tabpanel p{margin:0;}
.tabcontent .tabpanel p img{width:100%;}
.mr5{margin-right:5px;}
.branch-name{display: inline-block; max-width: 70px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap}/*评论昵称省略号*/
.maskbox{width:100%;height:100%;background:rgba(0,0,0,0.5);display: none;position: absolute;z-index:100;top:0;left:0;}
/*加减*/
.pmwrap{}
.pmbox{width:24px;height:24px;line-height: 24px;}
.numbox{padding:2px 5px;}
.mr15{margin-right: 15px;}
.lh24{line-height: 24px;}
.ml2{margin-left:2px;}
.mtb10{margin-top:10px;margin-bottom: 10px;}
.lh30{line-height: 30px;}
.tel-circle{display: inline-block;width:30px;height:30px;border-radius: 50%;text-align: center;}
/*产品上架下架开关按钮*/
.mui-switch {
  width: 42px;
  height: 22px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none; }
.mui-switch:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
.mui-switch:checked {border-color: #64bd63;box-shadow: #64bd63 0 0 0 16px inset;background-color: #64bd63; }
.mui-switch:checked:before {left: 21px; }
.mui-switch.mui-switch-animbg {transition: background-color ease 0.4s; }
.mui-switch.mui-switch-animbg:before {transition: left 0.3s; }
.mui-switch.mui-switch-animbg:checked {box-shadow: #dfdfdf 0 0 0 0 inset;background-color: #64bd63;transition: border-color 0.4s, background-color ease 0.4s; }
.mui-switch.mui-switch-animbg:checked:before {transition: left 0.3s; }
.mui-switch.mui-switch-anim {transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s; }
.mui-switch.mui-switch-anim:before {transition: left 0.3s; }
.mui-switch.mui-switch-anim:checked {box-shadow: #64bd63 0 0 0 16px inset;background-color: #64bd63;transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s; }
.mui-switch.mui-switch-anim:checked:before {transition: left 0.3s; }
/*个人资料*/
.userinfotop{margin:10px 0 15px 0;padding:0 15px;background:#fff;}
.headimg{width:50px;height:50px;border-radius:50%;overflow: hidden;}
.ptb15{padding:15px 0;}
.mtb15{margin:15px 0;}
.color29{color:#292929;}    
/*我的订单*/
@media(max-width:320px){
    .myotitle .swiper-wrapper .swiper-slide{width:auto;padding:10px 10px 0 10px;}
    .myotitle .swiper-slide span{text-align: center;font-size:12px;}
} 
@media(min-width:321px){.myotitle .swiper-wrapper .swiper-slide{width:auto;padding:10px 15px 0 15px;}}
.myotitle .swiper-container {width: 100%;height: 100%;}
.myotitle .swiper-slide {text-align: center;font-size:14px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }
.swiper-slide span{padding-bottom: 8px;}
.activeborder{border-bottom:2px solid #ff7d7c;}
.myotitle span{padding-bottom:8px;display: inline-block;}
.myolist{background:#fff;margin-top:10px;}
.myddetailbox .myodetail{padding:6px 0;border-bottom:1px solid #f0f0f0;padding:6px 15px;}
.proname{display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical; overflow: hidden;font-size:12px;}/*商品名称只显示三行超过三行用省略号代替*/
.colorred2{color:#f91313;}
           